.button-type {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  background: transparent;
}

.btn-search {
  background: transparent;
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 20px;
}
